* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, 
footer,
section {
    padding: 5%;
    border: 2px solid gray;
}

.padded-1 {
    padding: 1rem;
}

.padded {
    padding: 5%;
}

.intro {
    background-color: lightgray;
    text-transform: uppercase;
}

/* Background Image Styles */

.bg-image {
    background-size: cover;
    background-position: center;
}

.square {
    padding-bottom: 100%
}

.landscape {
    padding-bottom: 60%
}